<div id="bornInNetherlands" style="display:none">
    <div class="hero">
        <div class="born">
            <div>Born in Netherlands.</div>
        </div>
    </div>
    <div class="content">
        <div class="c1">
            <div class="introduction">
                Xebia India was brought into existence in 2006, right here in Gurugram. We turn the latest technology
                trends into advantages for our customers, and provide an ocean of learning for our employees. As a
                mainstream frontrunner, we create new innovative solutions and build the future with our clients.
            </div>
            <div class="offices">
                <div class="heading">Our Offices in India</div>
                <div class="list">
                    {{> ../components/ourOffices office_name="Gurugram (Delhi NCR)" office_image="../assets/images/offices/delhi.png"}}
                    {{> ../components/ourOffices office_name="Pune" office_image="../assets/images/offices/pune.png"}}
                    {{> ../components/ourOffices office_name="Bangalore" office_image="../assets/images/offices/bangalore.png"}}
                </div>
            </div>
        </div>
        <div class="c2">
            <div class="heading">Our Values</div>
            <div class="subheading">Our four pillar of growth</div>
            <div class="value-container-adjuster">
                <div class="value-container">
                    <div class="value bg-orange" id="peopleFirst">
                        <div class="text">People First</div>
                    </div>
                    <div class="value bg-dark-orange" id="sharingKnowledge">
                        <div class="text">Sharing Knowledge</div>
                    </div>
                    <div class="value bg-xebia-purple" id="customeIntiacy">
                        <div class="text">Customer Intimacy</div>
                    </div>
                    <div class="value bg-green" id="qualityWithoutCompromise">
                        <div class="text">Quality without Compromise</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>