<div id="cultureOfInovation" style="display: none">
    <div class="overlay"></div>
    <div class="content">
        <div class="heading">
            A culture of innovation
        </div>
        <div class="cultureList">
            {{> ../components/culture.hbs cultureIcon="../assets/images/cultures/agileNCR.png" cultureContent="AgileNCR is an annual Agile software development conference."}}
            {{> ../components/culture.hbs cultureIcon="../assets/images/cultures/devTheory.png"  cultureContent="Tech conference of the most inspiring speakers in the technology industry."}}
            {{> ../components/culture.hbs cultureIcon="../assets/images/cultures/xebithon.svg" cultureContent="24 Hrs non-stop coding event where Xebian participated in groups or solo to create something awesome!"}}
            {{> ../components/culture.hbs cultureIcon="../assets/images/cultures/XKE.png" cultureContent="Bi-weekly townhall held every thursday in Xebia office. Xebians share and exchange ideas in 2 hours presentation."}}
            {{> ../components/culture.hbs cultureIcon="../assets/images/cultures/magazine.png" cultureContent="Xebia regularly publish magazines like - Urgent Future, AgileNxt, XPRT and others."}}
            {{> ../components/culture.hbs cultureIcon="../assets/images/cultures/books.png" cultureContent="Xebian even authored books."}}
        </div>
    </div>
</div>