<div id="feelingBored" style="display: none">
    <div class="hero">
        <div class="born">
            <div>Feeling Bored ?</div>
        </div>
    </div>
    <div class="content">
        <img src="../assets/images/feeling_bored.png" alt="feeling_bored" />
    </div>
</div>