<div id='funAtXebia' style='display:none'>
    <div class='underlay'></div>
    <main>
        <header>Fun at Xebia</header>
        <div class='collage'>
            <img src="../assets/images/funAtXebia/funatxebia (1).jpg" alt="graphic" />
            <img src="../assets/images/funAtXebia/funatxebia (2).jpg" alt="graphic" />
            <img src="../assets/images/funAtXebia/funatxebia (3).jpg" alt="graphic" />
            <img src="../assets/images/funAtXebia/funatxebia (4).jpg" alt="graphic" />
            <img src="../assets/images/funAtXebia/funatxebia (5).jpg" alt="graphic" />
            <img src="../assets/images/funAtXebia/funatxebia (6).jpg" alt="graphic" />
            <img src="../assets/images/funAtXebia/funatxebia (7).jpg" alt="graphic" />
            <img src="../assets/images/funAtXebia/funatxebia (8).jpg" alt="graphic" />
        </div>

    </main>
</div>