<div id='holidayCalendar' style="display: none">
    <div class='screen-background'>
        <div></div>
        <div></div>
    </div>
    <div id='holidayTableContainer'>
        <div class='heading'>
            <span>
                Holiday Calendar
            </span>
        </div>
        {{!-- Rendering table div from holidayCalendar.js --}}
    </div>
</div>