<div id="home" style="display: none">
    <div class="text">
        <h1>Hello,</h1>
        <h1>Welcome to Xebia</h1>
        <div class="subheading">We give you space and power to become your best in a community of ambitious and
            talented peers</div>
    </div>
    <img class="backdrop" src="../assets/images/hero.png" alt="hero" />
    <div class="start-button">
        <div id="homeStartButton" class="wobble-hor-bottom">
            <div>START</div>
        </div>
    </div>
</div>