<div id="leavePolicy" style="display:none">
    <div class='header-container'>
        <header class='heading'>
            Leave Policy
        </header>
        <div class='x-logo'></div>
    </div>
    <main>
        <div></div>
        <div class="leave-cards">
            {{> ../components/cardsRounded.hbs header='Earned leaves (EL)'  content='15 in a year, Max 30 accumulated'}}
            {{> ../components/cardsRounded.hbs header='Casual/ Sick leaves (CSL)' content='11 in a year, Lapse at the end of the year'}}
            {{> ../components/cardsRounded.hbs header='Birthday/ Anniversary (BL)' content='1 in a year, For Birthday OR Anniversary'}}
            {{> ../components/cardsRounded.hbs header='Gift a leave' content='Employees can gift max 3 EL to other employee – only incase of exception crisis situation.'}}
            {{> ../components/cardsRounded.hbs header='Paternity Leave (PL)' content='5 Days within 1 month of child birth, Applicable for first two children'}}
            {{> ../components/cardsRounded.hbs header='Maternity Leave (ML)' content='26 Weeks'}}
            {{> ../components/cardsRounded.hbs header='Weekly Hours to be Completed' content='45 Hours'}}
        </div>
        <footer>
            NOTE: All leaves have to be applied on Zoho and approved by manager.
        </footer>
    </main>
</div>