<div id='longService' style="display: none">
    <div class='screen-background'>
        <div></div>
        <div></div>
    </div>
    <div id='longServiceTableContainer'>
        <div class='heading'>
            <span>
                Long Service Policy
            </span>
        </div>
        {{!-- Rendering table div from longService.js --}}
    </div>
</div>