<div id="organizationMatrix" style="display: none">
    <div class="heading">
        We are a Matrix Organization
    </div>
    <div class="content">
        <div class="coes">
            <div></div>
            <div>
                <div>COEs</div>
            </div>
        </div>
        <div></div>
        <div class="matrix">
            <div class="row header">
                <div class="no-border"></div>
                <div class="no-border white">Home</div>
                <div class="no-border white">Project &alpha;</div>
                <div class="no-border white">Project &beta;</div>
                <div class="no-border white">Project &gamma;</div>
                <div class="no-border white">Project &delta;</div>
            </div>
            {{> ../components/departmentRow.hbs department="XACT (Agile Consultancy & Training)" head="Ajay Kabra" showXebian="true"}}
            {{> ../components/departmentRow.hbs department="Big Data/ Machine Learning/ AI/ RPA" head="Ram Narsimhan" }}
            {{> ../components/departmentRow.hbs department="Digital Assurance" head="Vikas Mittal" }}
            {{> ../components/departmentRow.hbs department="Open Source and Microsoft" head="Mandeep Mehra & Shekhar Gulati" showWings="true" }}
        </div>
        <div></div>
    </div>
</div>