<div id="organisationStructure">
    <div id="organization_details" style="display:none">
        <div class="details" id="Xebia-Global-Services" style="display: none">
            <div class="heading">Xebia Global Services</div>
            <div class="people">
                {{> ../components/people/people.hbs name="Anand Sahay" designation="CEO" image="../assets/images/members/anand.png"}}
                {{> ../components/people/people.hbs name="Ashok Fenn" designation="Executive Director - Sales" image="../assets/images/members/ashok.png" }}
                {{> ../components/people/people.hbs name="Madhur Arya" designation="Head Of Operations - Operations" image="../assets/images/members/madhur.png"  }}
                </div>
        </div>
        <div class="details" id="Xebia-Group" style="display: none">
            <div class="heading">Xebia Group</div>
            <div class="people">
                {{> ../components/people/people.hbs name="Daan Teunissen" designation="CEO" image="../assets/images/members/Daan-Teunissen.jpg"  }}
                {{> ../components/people/people.hbs name="Michel Den Braver" designation="CFO"  image="../assets/images/members/michel.jpg" }}
            </div>
        </div>
        <div class="details" id="Xebia-India" style="display: none">
            <div class="heading">Xebia India</div>
            <div class="people">
                {{> ../components/people/people.hbs name="Madhur Arya" designation="Head Of Operations - Operations" image="../assets/images/members/madhur.png"  }}
            </div>
        </div>

        <div class="details" id="Xebia-Middle-East" style="display: none">
            <div class="heading">Xebia Middle East</div>
            <div class="people">
                {{> ../components/people/people.hbs name="Shankar Garg" designation="Associate Director - Sales" image="../assets/images/members/shankargarg.jpg"  }}
                {{> ../components/people/people.hbs name="Anurag Agar" designation="Director - Delivery"  image="" }}
            </div>
        </div>

        <div class="details" id="Xebia-US" style="display: none">
            <div class="heading">Xebia US</div>
            <div class="people">
                 {{> ../components/people/people.hbs name="Karan Nangru" designation="Managing Director - Delivery"  image="../assets/images/members/karan.jpg" }}
            </div>
        </div>

        <div class="details" id="Xebia-Academy" style="display: none">
            <div class="heading">Xebia Academy</div>
            <div class="people">
                {{> ../components/people/people.hbs name="Brijesh Kohli" designation="Director - Academy"  image="../assets/images/members/brijesh.jpg" }}
            </div>
        </div>



        <div class="details" id="Xebia-Gurugram" style="display: none">
            <div class="heading">Xebia Gurugram</div>
            <div class="people">
                {{> ../components/people/people.hbs name="Madhur Arya" designation="Head Of Operations - Operations" image="../assets/images/members/madhur.png"  }}
                <div class="hr">
                    <div class="heading">Human Resource</div>
                    <div class="details">
                        {{> ../components/people/hr.hbs name="Anwar Khan" phone="9654997087" email="anwar.khan@xebia.com"}}
                    </div>
                </div>
            </div>
        </div>

        <div class="details" id="Xebia-Pune" style="display: none">
            <div class="heading">Xebia Pune</div>
            <div class="people">
                {{> ../components/people/people.hbs name="Deepak Sharma" designation="Associate Director - Delivery" image="../assets/images/members/madhur.png"  }}
                {{> ../components/people/people.hbs name="Vijit Ghatge" designation="Director - Sales" image="../assets/images/members/madhur.png"  }}
                <div class="hr">
                    <div class="heading">Human Resource</div>
                    <div class="details">
                        {{> ../components/people/hr.hbs name="Anwar Khan" phone="9654997087" email="anwar.khan@xebia.com"}}</div>
                </div>
            </div>
        </div>

        <div class="details" id="Xebia-Bangalore" style="display: none">
            <div class="heading">Xebia Bangalore</div>
            <div class="people">
                {{> ../components/people/people.hbs name="Ajay Kabra" designation="Senior Director - XACT" image="../assets/images/members/ajay.jpg"  }}
                <div class="hr">
                    <div class="heading">Human Resource</div>
                    <div class="details">
                        {{> ../components/people/hr.hbs name="Sahil Bhatnagar" phone="9953350705" email="sahil.bhatnagar@xebia.com"}}
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div id="organization_tree"></div>
</div>