<div id='performanceAppraisal' style='display:none'>
    <div class="bg">
    </div>
    <main>
        <header>
            <span>Performance Appraisal</span>
        </header>
        <div class='content'>
            <section>
                <img src="../assets/images/appraisal (1).png" alt='Appraisal'>
            </section>

            <section>
                <ul>
                    <li>Performance cycle is July - June for all confirmed employees</li>
                    <br />
                    <li>An Employee should have been in continuous employment for past six months to become eligible for
                        increment. Should join on/before December 31st</li>
                    <br />
                    <li>Is dependent on the Performance ratings and recommendations by the Head of Department.</li>
                </ul>
            </section>
        </div>
    </main>
</div>