<div id='probationPeriod' style='display:none'>
    <div class='bg'>
        <div>
            <img src="../assets/images/probation.png" alt="probation" />
        </div>
        <div></div>
    </div>
    <main>
        <div class='content'>
            <div class='header'>Probation Period</div>
            <div>
                <div>
                    <ul>
                        <li>Technical + Support – 3 months</li>
                        <li>Trainees – 6 months</li>
                    </ul>
                </div>
                <div>
                    <ul>
                        <li>
                            Probation Completion / Confirmation of Services is communicated through a formal email.
                        </li>
                    </ul>
                </div>
                <div>
                    <ul>
                        <li>
                            Confirmation depends on your manager’s feedback, your result on Xebia Foundation Course and
                            your
                            Background verification.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </main>
</div>