<div id='rewardsAndRecognition' style='display:none'>
    <div class='underlay'>
        <div></div>
        <img src="../assets/images/rewards.webp" alt="Rewards" />
    </div>
    <main>
        <div></div>
        <div>
            <section>
                Rewards n Recognition - GEM Program (Go the Extra Mile)
            </section>
            <section></section>
            <section></section>
            <section>
                <ul>
                    <li>

                        The Objective of this program is to recognize the outstanding efforts of our employees as
                        individual
                        contributor or in a team setting.
                    </li>
                    <li>
                        This is a monthly initiative where we invite nominations from all the managers across the
                        regions and
                        the winners are published on different platforms.</li>
                </ul>
            </section>
        </div>
    </main>
</div>