<div id="thankyou" style="display: none">
    <div>
        <div class="thanksNote">
            <div>
                Thank you
                <img src="../assets/images/happy_face.svg" alt="happ_face" /></div>
            <div>Keep up your Good Work.</div>
            <div class="subheading">Your goodies are on their way, enjoy this video</div>
        </div>
        <div class="video">
            <iframe src="https://www.youtube.com/embed/5TVVIEwKn5c" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>
    </div>
    <div class="side-image">
        <img src="../assets/images/thank_you.png" alt="image" />
    </div>
</div>