<div id="thingsToRemember" style="display: none">
    <div class="content">
        <div class="heading">
            Things to remember
        </div>
        <div class="things">
            {{> ../components/thing heading="POSH (Prevention of Sexual Harassment)" content="Xebia commits to provide a workplace free from sexual harassment, and provide a mechanism for redressal of any complaints, without fear or threat of any reprisals in any form or manner."}}
            {{> ../components/thing heading="ISMS (Information Security Management System Awareness Training)" content="Information security and management is one of the top priorities for Xebia. To ensure that all our employees are equipped with any information regarding ISMS"}}
            {{> ../components/thing heading="XFC (Xebia Foundation Course)" content="The aim of Xebia foundation course is to ensure all software engineers hired in Xebia know the vocabulary for building high quality software products. The course covers Agile, TDD, Clean Code, Git Version control, Continuous Integration, DevOps practices, and basic security know how. The course is self-paced consisting of high quality videos and text material. Every Xebians needs to complete this course with in one week of joining. There is an online test at the end to evaluate employee understanding of the concepts."}}
            {{> ../components/thing heading="Background verification" content="Xebia has tied up with AuthBridge for their Background verification services. Please make sure you complete and submit the forms for a smooth BGV process."}}
            {{> ../components/thing heading="Zoho People Update" content="Check your pre-filled details and ensure that you fill out all your information on “My Information” under the “Self Service” tab, so that the system is updated!"}}
        </div>
    </div>
    <div class="graphic">
        <img src="../assets/images/things_to_remember.png" alt="graphic" />
    </div>
</div>