<div id="toolsWeUse" style="display:none">
    <div class="topSection">
        <div class="heading">Tools we use</div>
        <div class="xLogo"></div>
    </div>
    <div class="content">
        <div></div>
        <div class="toolsList">
            <ul>
                {{> ../components/toolsBox.hbs icon="../assets/images/tools/outlook.png" content="Outlook is our official email provider. Keep yourself updated by accessing your emails on outlook desktop app, mobile app or web." isMobile="available" isWeb="available" isDesktopApp="available"}}
                {{> ../components/toolsBox.hbs icon="../assets/images/tools/slack.png" content="Slack is Xebia's internal chat application. You are always connected with Xebians through this easy and user friendly app." isMobile="available" isWeb="available" isDesktopApp="available"}}
                {{> ../components/toolsBox.hbs icon="../assets/images/tools/zoho.png" content="A one stop shop for all our employees. Zoho People is our complete HR solution. Automate and simplify your operations like Leave, company policies and attendance." isMobile="available" isWeb="available" isDesktopApp="available"}}
                {{> ../components/toolsBox.hbs icon="../assets/images/tools/dkm.png" content="Struggling with queries related to payroll? DKM is the place to go! It is our payroll management system. Access your salary slips, investment details and FBP details" isMobile="available" isWeb="available" isDesktopApp="available"}}
            </ul>
        </div>
        <div class="footer">
            You will receive the credentials of Outlook and DKM shortly, expect an email from respective departments
        </div>
    </div>
</div>