<div id='xebiaCares' style='display:none'>
    <div class='header'>
        <div>Xebia cares- Corporate Social Responsibility</div>
        <img src="../assets/images/socialresponsibility.png" alt="graphic" />
    </div>
    <main>
        <section>
            <img src="../assets/images/csr.png" alt="csr" />
        </section>
        <section>Xebia has tied up with Nudge Foundation (The /Nudge).
            The Nudge Foundation has helped 400+ million people in extreme poverty by giving them education and jobs to
            sustain themselves.</section>
    </main>
</div>