<div id="xebiaGroup" style="display: none">
    <div class="map"></div>
    <div class="content">
        <div>
            <div class="heading">Xebia Group</div>
            <div class="sub-heading">Xebia explores and creates new frontiers. Alway one step ahead of what businesses
                need,
                we turn the latest technology trends into advantages for our customers.</div>
        </div>
        <div class="legends">
            <div>
                <div class="legend">
                    <div class="circle office"></div>
                    <div>Offices</div>
                </div>
                <div class="legend">
                    <div class="circle impact"></div>
                    <div>Impact</div>
                </div>
            </div>
        </div>
        <div class="infographs">
            {{> ../components/info.hbs img="../assets/images/xebia-group/people.png" heading="2500+" subHeading="People Worldwide"}}
            {{> ../components/info.hbs img="../assets/images/xebia-group/duration.png" heading="16" subHeading="Glorious Years & counting"}}
            {{> ../components/info.hbs img="../assets/images/xebia-group/presence.png" heading="12" subHeading="Global Presence"}}
        </div>
    </div>
</div>