<div class="card">
    <p class="card-container">
        {{#if header}}
        <strong>{{header}}</strong>
        {{/if}}
        {{#if icon}}
        <img class="icon" src={{icon}} alt="{{header}}"></img>
        {{/if}}
        <span class="content">{{content}}</span>
    </p>
</div>