<div class="row">
    <div class="departments no-border">
        <div>{{department}}</div>
        <div class="head">{{head}}</div>
        {{#if showWings}}
        {{/if}}
    </div>
    <div class="home no-border project-row">
        {{#if showXebian}}
        <div class="xebian">
            <img src="../assets/images/man-woman.svg" alt="" />
        </div>
        {{/if}}
    </div>
    <div class="project-row"></div>
    <div class="project-row"></div>
    <div class="project-row"></div>
    <div class="project-row"></div>
</div>