<div class="info">
    <div class="top">
        <div><img src={{img}} alt="people" /></div>
        <div class="text">{{heading}}</div>
    </div>
    <div class="bottom">
        {{subHeading}}
    </div>
</div>