<li class="tool">
    <a class="tool-container">
        <img class="icon" src={{icon}} alt="tool"></img>
        <div class="content">{{content}}</div>
        <div class="availableIn">
            <div>Available in</div>
            <div><img src="../assets/images/tools/available/earth.png" alt="web" /></div>
            <div><img src="../assets/images/tools/available/mobile.png" alt="mobile" /></div>
            <div><img src="../assets/images/tools/available/laptop.png" alt="laptop" /></div>
        </div>
    </a>
</li>