<head>
    <title>{{htmlWebpackPlugin.options.title}}</title>
</head>

<body>
    <div class="base">
        {{> components/navArrows}}
        {{> screens/splash}}
        {{> screens/home}}
        {{> screens/xebiaGroup}}
        {{> screens/bornInNetherlands}}
        {{> screens/organisationStructure}}
        {{> screens/organizationMatrix}}
        {{> screens/cultureOfInovation}}
        {{> screens/toolsWeUse}}
        {{> screens/thingsToRemember}}
        {{> screens/thankyou}}
        {{> screens/feelingBored}}
    </div>
</body>