@import 'pallete.scss';
@import 'mixins.scss';

#feelingBored {
    display: flex;
    flex-direction: column;
    background-color: $base-color;
    width: 100%;
    @include topHeaderWithImageAndText('../assets/images/sample_office.png', 800px);

    .content {
        height: 60%;
        padding-top: 5%;

        img {
            width: 100%;
        }
    }
}