$base-color: #FFFFFF;
$orange: #F7941D;
$dark-orange: #E4500E;
$xebia-purple: #6A205F;
$grey: #707070;
$white: #FFFFFF;
$black: #000000;
$light-black: #2F2F2F;
$dark-grey: #8D8D8D;
$green:#398800;
$light-grey:#CECECE;
$no-logo-xi: #96628F;
$no-logo-xe: #F9B460;
$no-logo-xus: #74AB4C;
$new-grey: #F0F0F0;