<div class="person">
    <div>
        <img class="photo" src={{image}} />
    </div>
    <div class="profile">
        <div class="name">{{name}}</div>
        <div class="designation">{{designation}}</div>
    </div>

</div>